/* Styling for the search bar, sets text to black */
.inputBox {
  color:  black;
}

/* Padding styles for any element, different padding sizes if needed */
.padding-xs {
  padding: .25em;
}

.padding-sm {
  padding: .5em;
}

.padding-md {
  padding: 1em;
}

.padding-lg {
  padding: 1.5em;
}

.padding-xl {
  padding: 3em;
}

/* Styling for all images on the site, scales to 100% of parent element or 200px max */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
