/* Styling for the search bar, sets text to black */
.inputBox {
  color:  black;
}

/* Padding styles for any element, different padding sizes if needed */
.padding-xs {
  padding: .25em;
}

.padding-sm {
  padding: .5em;
}

.padding-md {
  padding: 1em;
}

.padding-lg {
  padding: 1.5em;
}

.padding-xl {
  padding: 3em;
}

/* Styling for all images on the site, scales to 100% of parent element or 200px max */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Background colour and text for buttons */
.btn {
  background-color: #ff9400;
  color: #000000;
}

/* Margins for buttons */
.btn-toolbar-home .btn {
  margin-bottom: 5px;
}

/* Colour for hamburger bun menu */
.navbar-toggle, .navbar-toggle:focus,.navbar-toggle:active  {
  background-color: #065b11 !important;

}

/* Footer text colour */
.footer {
  color: #065b11;
}

/* Text colour for p and div tags */
p, div {
  color: black;
}

/* Background color for page */
.bg-primary, .navbar-header, footer, .navbar-collapse{
  background-color: #f5f5f5;
}
/* Background color for livesearch */
#livesearch {
  background-color: #f5f5f5;
}

/* Text colour for hamburger bun menu */
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
  color: black;
}

/* Sets minimum height and margin for body. Allows overlay of other elements */
body {
  min-height: 400px;
  margin-bottom: 100px;
  clear : both;
}

/* Hamburger Menu overlay styling */
#hamburger-overlay {
  position:relative;
  z-index:1000;
}

/* Defines position on top-button class */
.top-button {
  position: absolute;
  top: 0;
}

/* Highlights the selected button*/
.btn-highlight {
  background-color: #1acc22;
}

/* Sets the button width on mobile */
@media all and (max-width:480px) {
    .mobile-button { width: 100%; display:block; }
}

/* Sets the button width on tablet */

@media all and (min-width: 481px) {
    .mobile-button { width: 30%; }
}

/* Resizes the logo for food pages */
.food-size {
  width: 100px;
  height: auto;
}

