/* Styling for the search bar, sets text to black */
.inputBox {
  color:  black;
  border: 5px;
}

/* Padding styles for any element, different padding sizes if needed */
.padding-xs {
  padding: .25em;
}

.padding-sm {
  padding: .5em;
}

.padding-md {
  padding: 1em;
}

.padding-lg {
  padding: 1.5em;
}

.padding-xl {
  padding: 3em;
}

/* Styling for all images on the site, scales to 100% of parent element or 200px max */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Background colour and text for buttons */
.btn {
  background-color: #ff9400;
  color: #000000;
}

/* Margins for buttons */
.btn-toolbar-home .btn {
  margin-bottom: 5px;
}

/* Colour for hamburger bun menu */
.navbar-toggle, .navbar-toggle:focus,.navbar-toggle:active  {
  background-color: #065b11 !important;

}

/* Footer text colour */
.footer {
  color: #065b11;
}

/* Text colour for p and div tags */
p, div {
  color: black;
}

/* Background color for page */
.bg-primary, .navbar-header, footer, .navbar-collapse{
  background-color: #f5f5f5;
}
/* Background color for livesearch */
#livesearch {
  background-color: #f5f5f5;
}

/* Text colour for hamburger bun menu */
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
  color: black;
}

/* Sets minimum height and margin for body. Allows overlay of other elements */
body {
  min-height: 400px;
  margin-bottom: 100px;
  clear : both;
}

/* Highlights the selected button*/
.btn-highlight {
  background-color: #1acc22;
}

/* Sets the button width on mobile */
@media all and (max-width:480px) {
  .mobile-button { width: 100%; display:block; }
}

/* Sets the button width on tablet */

@media all and (min-width: 481px) {
  .mobile-button { width: 30%; }
}

/* Resizes the logo for food pages */
.food-size {
  width: 100px;
  height: auto;
}

/* Limits maximum image size */
.image-size-limit, figure, figcaption {

  max-width: 100px;
}

/* Limits maxiumum image size on individual food pages */
.single-food-imagesize {
  max-width: 100px;
}

/* Limits the image size for the affiliate logos */
.affiliate-size {
  max-width: 175px;
}

/* Horizontal rule */
.my-hr {
  background:#ff9400;
  border:0;
  height:2px;
}

/* Back button icon color and size */
.glyphicon-menu-left {
  color: #ff9400;
  font-size: 50px;
}
/*Default Style for about.php page text*/
.aboutText {
  margin: auto;
  font-size: 80%;
}

/*Size, font, and width for small devices*/
@media screen and (min-width: 700px) {
  .aboutText {width: 60%;}
  .aboutText {font-size: 20px;}

}
/*Size, font, and width for medium devices*/
@media screen and (min-width: 700px) {
  .aboutText {width: 80%;}
  h4 {font-size: 32px;}
  .aboutText {font-size: 16px;}
}

/*Size, font, and width for large devices*/
@media screen and (min-width: 1024px) {
  .aboutText {width: 60%;}
  .aboutText {font-size: 16px;}
}
/* Sets outline for state buttons */
.btn-outline {
	background: none;
	padding: 2px 2px;
	border: 3px solid #85e085;
	border-radius: 5px;
}

/* Widens the search bar on large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .home-search { width: 800px; } }

/* Sets the search bar on mobile devices */
@media (max-width: 1000px) { .home-search { width: 100%; } }

/* Gets rid of orange button outline on food pages */
.btn-outline:focus {
  outline: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hamburger {
  position: absolute;
  top: 5px;
}